body{
    background-color: #fff !important;
}
.logo{
    width:65px;
    height: 36px;
    margin-top: -10px;
    margin-left: 30px;
}
.navs{
    /*border:1px solid red;*/
    background-color: #fff;
}
.navs .navs-right{
    padding-right: 60px;
    /*border:1px solid red;*/
}
.navs-left{
    /*border:1px solid red;*/
}
.navbar-right .fonts{
    font-size: 25px;
}
/*homecontainer.css*/
.navs-left{
    /*border:1px solid red;*/
    padding-top: 8px;
}
.navs-right{
    /*border:1px solid red;*/
}
.main{
    width:100%;
    height: 200px;
}
.main img{
    display: block;
    width:100%;
    height: 100%;
}
.title{
    width:100%;
    height:60px;
    color: #4C4C4C;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 0;
}

.ml100{
    margin-left: 100px;
}
.mr100{
    margin-right: 100px;
}
.pl100{
    padding-left: 100px;
}
.pr100{
    padding-right: 100px;
}
.box{
    /*width:30%;*/
    box-sizing: border-box;
    height: auto;
    background-color: #fff;
    display: flex;
    margin-bottom: 20px;
    /*border:1px solid red;*/
}
.box .box-main{
    width:80%;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 2px solid #dfdfdf;
    border-radius: 5px;
    /*box-shadow :2px 2px 2px #cccccc ;*/
}

.box .box-main p:nth-of-type(1){
    font-size: 50px;
    color: #4b97ff;
    margin-top: 40px;
    text-align: center;
}
.box .box-main p:nth-of-type(2){
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 40px;
}
/*login.css*/
.login {
    position: fixed;
    width: 100%;
    height: 100%;
    /*background: url("../../public/images/slide1.png");*/
    background-color: #3e69af;
    background-size: 100% 100%;
    /*background-color: #2f4050;*/
}
.cloud_word{
    position:relative;
}
.login .login-wrap {
    position: relative;
    max-width: 380px;
    margin: 260px auto;
    /*margin-top: 180px;*/
    /*margin-left: 120px;*/
    padding: 100px 40px 40px;
    border-radius: 4px;
    background-color: #fff;
}
.title_sp{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index: 99999;
    height: 40px;
    /*border:1px solid red;*/
    text-align: center;
    font-size: 40px;
    color: #f9f9f9;
    font-family: '楷体';
    margin-top:7%;
    /*margin: 10px auto;*/
}
.login .login-wrap .avatar {
    position: absolute;
    top: -60px;
    left: 50%;
    overflow: hidden;
    width: 140px;
    height: 140px;
    margin-left: -70px;
    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 5px #ccc;
}
.nprogress-busy {
    cursor: wait;
}

.form-control {
    box-shadow: none;
}

.form-control:focus {
    border-color: rgba(102, 175, 233, .8);
    box-shadow: 0 0 0 2px rgba(102, 175, 233, .4);
}

body {
    background-color: #f8f9fb;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cloud{
    position: absolute;
    top: 10px;
    left: 0;
}.cloud img:first-child{
     animation: cloud06 40s linear infinite alternate;
 }
.cloud img:last-child{
    position: absolute;
    top: 0;
    left: 0;
    animation: cloud06 20s linear infinite alternate;
}
@keyframes cloud06 {
    from{}
    to{
        transform: translateX(1000px);
    }
}
.sub_btn{
    margin-top: 20px;
    width:68%;
}
.homeback{
    /*width:200px;*/
    /*border:1px solid red;*/
}
#navbar-top{
    width:100%;
    height:auto;
    /*border:1px solid red;*/
}
#navbar-top .navbar-nav>.active>a, #navbar-top .navbar-nav>.active>a:hover, #navbar-top .navbar-nav>.active>a:focus {
    color: #2088EC;
}
#navbar-top .navbar-brand {
    padding: 15px 0px 15px 97px;
    background-image: url(../../public/images/海绵城市logo.png);
    background-position: -24px -24px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 180px;
}
#navbar-top .navbar-nav>li>a:hover {
    background: #f5f5f5;
}
#navbar-top .navbar-nav>li>a {
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 15px 25px;
}
#navbar-top .navbar-default {
    margin-bottom: 0;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(214, 218, 221, 0.55);
    border: 0;
    border-color: transparent;
}
.footer{
    background-color: #1c1b50;
    color:#fff;
    /*text-align: center;*/
}
.footer a{
    color:#fff;
    text-decoration: none;
}
.footer_box{
    padding-top: 30px;

    /*width:80%;*/
    /*border:1px solid red;*/
}
.footer_box:nth-of-type(1){
    padding-left: 220px;
}
.footer_box:nth-of-type(2){
    padding-left: 120px;
}
