body{
    background-color: #fff !important;
}
.logo{
    width:65px;
    height: 36px;
    margin-top: -10px;
    margin-left: 30px;
}
.navs{
    /*border:1px solid red;*/
    background-color: #fff;
}
.navs .navs-right{
    padding-right: 60px;
    /*border:1px solid red;*/
}
.navs-left{
    /*border:1px solid red;*/
}
.navbar-right .fonts{
    font-size: 25px;
}